@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f4f4f4;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

input {
  display: block;
  width: 100%;
  color: grey;
  font-size: 1.2rem;
  padding: 0.5rem 0.4rem;
  outline: none;
  margin: 0.4rem 0;
  background: transparent;
  border: 1px solid grey;

  &:focus {
    background: transparent;
    color: grey;
  }
}

label {
  display: block;
  margin-top: 1.3rem;
  color: grey;
}

.container {
  //   border: 1px solid red;
  width: 600px;
  margin: 5rem auto;
  padding: 2rem;
  text-transform: capitalize;
  background: #13232f;
  color: white;

  .toggle {
    //  border: 1px solid blue;
    display: flex;
    justify-content: space-between;

    a {
      display: inline-block;
      font-size: 1.3rem;
      padding: 0.8rem 0;
      // border: 1px solid red;
      width: 50%;
      text-align: center;
      // background: #1ab188;
      background: rgba(104, 103, 103, 0.5);
      color: grey;
      transition: all 0.5s ease;

      &:hover {
        color: white;
        background: #1ab188;
      }
    }

    .active {
      color: white;
      background: #1ab188;

      &:hover {
        background: darken(#1ab188, 10%);
      }
    }
  }

  h2 {
    text-align: center;
    margin: 2.5rem 0;
    font-size: 1.7rem;
    font-weight: normal;
    color: #f4f4f4;
  }

  .full-name {
    width: 100%;
    //  border: 1px solid red;
    display: flex;
    justify-content: space-between;

    .fname,
    .lname {
      width: 48%;
    }
  }

  button {
    display: block;
    width: 100%;
    margin: 3rem auto 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    outline: none;
    padding: 0.8rem 0;
    cursor: pointer;
    border: none;
    background: #1ab188;
    color: white;
    transition: all 0.5s ease;

    &:hover {
      background: darken(#1ab188, 5%);
    }
  }

  span {
    color: #f4f4f4;
  }
}
